# Dependencies
/node_modules

# Next.js build and cache artifacts
/.next/
/out/
/.swc/

# TypeScript cache file
*.tsbuildinfo

# Build output
/build

# Local Environment Variables
# Exclude all .env files except for the example template
.env*
!.env.example

# Production/Deployment
.vercel
/public/build

# Logs
npm-debug.log*
yarn-error.log
yarn-debug.log
pnpm-debug.log*
*.log

# Turborepo cache
.turbo

# macOS specific
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Packed NPM package (from your ls output)
hive-africa@0.1.0
